{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% set home_active=1 %}

{% block content_content %}
    {% for blog in blogs %}
        <article class="blog">
            <div class="date">
                <time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l,F j,Y') }}</time>
            </div>
            <header>
                <h2><a href="{{ path('BloggerBlogBundle_blog_show',{'id':blog.id}) }}">{{ blog.title }}</a> </h2>
            </header>
            
            <img src="{{ asset(['images/',blog.image]|join) }}">

            <div>
                <p>{{ blog.blog(500) }}</p>
                <p><a href="{{ path('BloggerBlogBundle_blog_show',{'id':blog.id}) }}">继续阅读...</a> </p>
            </div>

            <footer class="meta">
                <p>Comments: <a href="{{ path('BloggerBlogBundle_blog_show',{ 'id':blog.id }) }}#comments">{{ blog.comments|length }}</a></p>
                <p>Posted By <span class="highlight">{{ blog.author }}</span> at {{ blog.created|date('h:iA') }}</p>
                <p>Tags: <span class="highlight">{{ blog.tags }}</span></p>
            </footer>
        </article>
    {% else %}
        <p>There are no blog entries for symblog.</p>
    {% endfor %}
{% endblock %}
